**/ITHACAoutput
**/ITHACAoutput*
Working_examples
*.o
*.so
*.exe
**/linux**
**/processor*
**/linux*
**/Offline
**/processor*
*.pdf
*.dep
*.orig
examples
tutorials_dev
**/StreamTest
**/UtilitiesTest
*~
*.foam
